button {
    border-radius: 3px;
    background: cadetblue;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

.small {
    padding: 5px;
    font-size: 12px;
}

.standard {
    padding: 10px;
    font-size: 16px;
}

.big {
    padding: 15px;
    font-size: 20px;
}

